<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<div class="container-fluid">
 <body>
		<div class="container">
			<p><%= @degrees + " degrees farenheit is " + @celsius.to_s + " degrees celsius."%></p>
		</div>
 </body>
</div>