<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<div class="container-fluid">
 <body>
		<div class="container">
			<h3>Enter the temperature to change</h3>
			<p>Farenheit</p>
				<form action="/" method="post" role="form">
					<input type="text" class="form-group input-sm" name="degrees">
					<button type="submit" class="btn btn-primary">Submit</button>
		 	 </form>
		</div>
 </body>
</div>