<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<div class="container-fluid">
 <body>
		<div class="container">
			<p>While the United States and a few terretories still uses the Fahrenheit scale, nearly all countries switched over to Celsius in the 1970's as a move to standardize on the metric measurement system</p>
			<p>This app helps figure this out.</p>
				<div class="container">
					<%= yield %>
				</div>
		</div>
 </body>
</div>